.App {
  text-align: center;
}

nav {
  border-bottom: #dedede 1px solid;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav ul:nth-child(2) {
  text-align: right;
}

nav li {
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 1rem 2rem;
}

nav a:hover {
  color: #ad686a;
  text-decoration: none;
}

p {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin-top: 10rem;
}
