@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
.content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.proj-page-title h1 {
  display: inline-block;
  width: 50%;
  margin-top: 1rem;
  color: #ab5666;
  font-weight: 300;
  font-size: 3rem;
}

.proj-page-title p {
  display: inline-block;
  width: 50%;
  margin-top: 1.5rem;
  font-weight: bold;
}

.proj-page-title {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  /* save for media query 
  align-items: center;*/
}

.proj-page-header-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  /* object-fit: cover;
  overflow: hidden; */
}
